<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><span class="navbar-text">
    menu
  </span></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="./blusher.html">Blusher</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./brushes.html">brushes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./mascara.html">mascara</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./perfume.html">perfume</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./hair.html">hair</a>
        </li>
    </ul>
  </div>
</nav>
